body {
    font-family: 'Source Sans Pro', Heletica, sans-serif;
    font-size: 16px;
    line-height: 24px;
}

header, main {
    max-width: 900;
    margin: 0 auto;
    padding: 24px;
}

header h1 {
    margin: 0;
    font-size: 300%;
    text-align: center;
}

main img {
    max-width: 100%;
}
